body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#logo,
.page-title {
  font-family: "Croissant One", cursive;
  /* font-family: "Fuggles", cursive; */
  /* font-family: 'Martian Mono', monospace; */
}

.card,
#logo,
#profile {
  cursor: pointer;
}

.text-justify{
  text-align: justify ;
}

img{
  object-fit: cover;
}
