body {
  margin: 0;
}

#logo,
.page-title {
  font-family: "Croissant One", cursive;
}

.card,
#logo,
#profile {
  cursor: pointer;
}

.text-justify {
  text-align: justify;
}

img {
  object-fit: cover;
}
